body{
	background-color: #000000;
}

div{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: -8px;
    margin-top: -8px;
	cursor: crosshair;
	background-repeat: no-repeat;
}

#game-container{
	background-size: 100%;
	background-image: url("img/scenes/scene-1/arrest.png");
	background-size: cover;
}

#game-buttons{
	text-align: center;
	position: relative;
	top: 750px;
}

#button1,#button2,#button3,#button2pt2{
	height: 75px;
	width: 150px;
	margin-left: 50px;
	margin-right: 50px;
	background-image: url("img/buttons/siren-button.png");
	background-size: 100%;
	cursor: pointer;
	border-color: #000000;
	transition: 0.75s;
	border-radius: 10%;
}

#button1:hover,#button2:hover,#button3:hover,#button2pt2:hover{
	background-image: url("img/buttons/green-light-hover.png");
	size: 100%;
	transition:all 0.3s ease;
	border-radius: 10px;
	border-color: #ffffff;
	cursor: all-scroll;
}
#button1pt2,#button2pt02,#button3pt2,#btn1prison,#btn2prison,#btn3prison{
	height: 75px;
	width: 150px;
	margin-left: 50px;
	margin-right: 50px;	background-size: 100%;
	cursor: pointer;
	border-color: #000000;
	transition: 0.75s;
	border-radius: 10%;
}

#button1pt2{
	background-image: url("img/buttons/accept-button.png");
}

#button2pt02{
	background-image: url("img/buttons/innocent-button.png");
}

#button3pt2{
	background-image: url("img/buttons/fight-button.png");
}
#button1pt2:hover{
	background-image: url("img/buttons/accept-button-hover.png");
}

#button2pt02:hover{
	background-image: url("img/buttons/innocent-button-hover.png");
}

#button3pt2:hover{
	background-image: url("img/buttons/fight-button-hover.png");
}
#button2pt002{
	background-image: url("img/buttons/defeat/defeat 1.0")
}
#btn1prison,#btn2prison,#btn3prison{

}